<launch>

  <arg name="ouster_ns" default="ouster" doc="Override the default namespace of all ouster nodes"/>
  <arg name="sensor_hostname" default="os-992102000282.local" doc="hostname or IP in dotted decimal form of the sensor"/>
  <arg name="udp_dest" default="169.254.31.178" doc="hostname or IP where the sensor will send data packets"/>
  <arg name="lidar_port" default="53342" doc="port to which the sensor should send lidar data"/>
  <arg name="imu_port" default="45555" doc="port to which the sensor should send imu data"/>
  <arg name="udp_profile_lidar" default="LEGACY" doc="lidar packet profile; possible values: {
    LEGACY,
    RNG19_RFL8_SIG16_NIR16_DUAL,
    RNG19_RFL8_SIG16_NIR16,
    RNG15_RFL8_NIR8
    }"/>
  <arg name="lidar_mode" default="2048x10" doc="resolution and rate; possible values: {
    512x10,
    512x20,
    1024x10,
    1024x20,
    2048x10,
    4096x5
    }"/>
  <arg name="timestamp_mode" default="TIME_FROM_ROS_TIME" doc="method used to timestamp measurements; possible values: {
    TIME_FROM_INTERNAL_OSC,
    TIME_FROM_SYNC_PULSE_IN,
    TIME_FROM_PTP_1588,
    TIME_FROM_ROS_TIME
    }"/>
  <arg name="metadata" default=" " doc="path to write metadata file when receiving sensor data"/>
  <arg name="viz" default="false" doc="whether to run a rviz"/>
  <arg name="rviz_config" default="$(find ouster_ros)/config/viz.rviz" doc="optional rviz config file"/>
  <arg name="tf_prefix" default=" " doc="namespace for tf transforms"/>

  <arg name="starting_fov" default="45" doc="starting_fov [degrees]"/>
  <arg name="final_fov" default="225" doc="final fov [degrees], pointCloud will be send as soon as data packet corresponding to final_fov is received"/>
  <arg name="lidar_ticks" default="2048" doc="lidar packet profile: LEGACY, RNG19_RFL8_SIG16_NIR16_DUAL, RNG19_RFL8_SIG16_NIR16, RNG15_RFL8_NIR8"/>
  <arg name="trigger_delta" default="200" doc="lidar packet profile: LEGACY, RNG19_RFL8_SIG16_NIR16_DUAL, RNG19_RFL8_SIG16_NIR16, RNG15_RFL8_NIR8"/>


  <arg name="no_bond" default="false"
    doc="request no bond setup when nodelets are created"/>
  <arg if="$(arg no_bond)" name="_no_bond" value="--no-bond"/>
  <arg unless="$(arg no_bond)" name="_no_bond" value="" />
  <arg name="node_start_delay" default="5.0" />

  <group ns="$(arg ouster_ns)">
    <node pkg="nodelet" type="nodelet" name="os_nodelet_mgr"
      output="screen" required="true"
      launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "
      args="manager"/>
  </group>

  <arg name="node_start_delay2" default="7.0" />

  <group ns="$(arg ouster_ns)">
    <node pkg="nodelet" type="nodelet" name="os_node"
      output="screen" required="true"
      args="load nodelets_os/OusterSensor os_nodelet_mgr $(arg _no_bond)"
          launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' "

    >
      <param name="~/sensor_hostname" type="str" value="$(arg sensor_hostname)"/>
      <param name="~/udp_dest" type="str" value="$(arg udp_dest)"/>
      <param name="~/lidar_port" type="int" value="$(arg lidar_port)"/>
      <param name="~/imu_port" type="int" value="$(arg imu_port)"/>
      <param name="~/udp_profile_lidar" type="str" value="$(arg udp_profile_lidar)"/>
      <param name="~/lidar_mode" type="str" value="$(arg lidar_mode)"/>
      <param name="~/timestamp_mode" type="str" value="$(arg timestamp_mode)"/>
      <param name="~/metadata" type="str" value="$(arg metadata)"/>
      <param name="~/starting_fov" value="$(arg starting_fov)"/>
      <param name="~/final_fov" value="$(arg final_fov)"/>
      <param name="~/lidar_ticks" value="$(arg lidar_ticks)"/>
      <param name="~/trigger_delta" value="$(arg trigger_delta)"/>
    </node>
  </group>

  <include file="$(find ouster_ros)/launch/common.launch">
    <arg name="ouster_ns" value="$(arg ouster_ns)"/>
    <arg name="viz" value="$(arg viz)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    <arg name="timestamp_mode" value="$(arg timestamp_mode)"/>
    <arg name="_no_bond" value="$(arg _no_bond)"/>
  </include>

</launch>
